<div  style="width:50%; padding: 10px; float: left; border:1px solid; padding: 10px 10px; border-radius: 5px; float:left;" >
    <div class="form-group">
        <input [(ngModel)]="new_node_name" placeholder="Node name" type="text" maxlength="250" >
    </div>

    <div class="form-group">
        <button type="submit" (click)="onAddNode()">Add node</button>
    </div>
</div>

<div style="width:50%; padding: 10px; float: left; border:1px solid; padding: 10px 10px; border-radius: 5px; float:left;">
    <div class="form-group">
        <input placeholder="Edge weight" [(ngModel)]="edge_weight" type="number" maxlength="250" required>
    </div>

    <div class="form-group">
        <select [ngModel]="selected_node_first" (ngModelChange)="onSelectFirstNode($event)" name="sel3">
            <option [ngValue]="i" *ngFor="#i of graph_nodes">{{i.nodename}}</option>
        </select>
    </div>

    <div class="form-group">
        <select [ngModel]="selected_node_second" (ngModelChange)="onSelectSecondNode($event)" name="sel3">
            <option [ngValue]="i" *ngFor="#i of graph_nodes">{{i.nodename}}</option>
        </select>
    </div>

    <div class="form-group">
        <button (click)="onAddEdge()">Add edge</button>
    </div>
</div>


<div style="width:50%; padding: 10px; float: left; border:1px solid; padding: 10px 10px; border-radius: 5px; float:left;">
    <div  style="padding: 10px; float: left;">

        <div class="form-group">
            <label class="form-control">Find path between:</label>
        </div>

        <div class="form-group">
            <select [ngModel]="selected_edge_first" (ngModelChange)="onSelectFirstEdge($event)">
                <option [ngValue]="i" *ngFor="#i of graph_edges">{{i.id}}</option>
            </select>
        </div>

        <div class="form-group">
            <select [ngModel]="selected_edge_second" (ngModelChange)="onSelectSecondEdge($event)">
                <option [ngValue]="i" *ngFor="#i of graph_edges">{{i.id}}</option>
            </select>
        </div>

        <div class="form-group">
            <input type="submit" id="bFindPath" class="btn btn-success" value="Find path">
        </div>
    </div>

    <div style="padding: 10px; float: left; width: 180px;">
        <div class="form-group">
            <label class="form-control" style="float: left;">Length:</label>
            <label  id="lLengthPath" style="float: left;"></label>
        </div>

        <div class="form-group">
            <label class="form-control"  style="float: left;">Path:</label>
            <label   style="float: left;" id="lPath">
            </label>
        </div>
    </div>

</div>
<div style="padding: 10px; float: left;">
    <svg width="900" height="600" style="border: 1px solid; border-radius: 5px; "></svg>
</div>