
<div class="row outer-center" style="margin-top: 70px;">

    <div class="inner-center">
        <h2>Creating graph</h2>

        <div [hidden]="submitted">

            <form  (ngSubmit)="onCreate()" #graphCreateForm="ngForm">

                <div class="form-group">
                    <label class="fl" for="graphname" >Название:</label>
                    <input #graphname
                           id="graphname"
                           class="form-control"
                           required type="text"
                           placeholder="Graph name"
                           [(ngModel)]="graph.graphname"
                           #ngGraphName="ngForm"/>

                    <div [hidden]="ngGraphName.valid"
                         class="alert alert-danger">
                        Graphname is required
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-success"
                            type="submit"
                            [disabled]="!graphCreateForm.form.valid">
                        Create!
                    </button>
                </div>
            </form>
        </div>

    </div>
</div>