<div *ngIf="graph">
  <h2>{{graph.graphname}} details!</h2>

  <div style="width:50%;border:1px solid; padding: 10px 10px; border-radius: 5px;">
    <div>
      <label>id: </label>{{graph.id}}</div>
    <div>
      <label>name: </label>
      <input [(ngModel)]="graph.graphname" placeholder="Name" />
    </div>
    <div>
      <button (click)="onSave()">Save</button>
      <button (click)="goBack()">Back</button>
    </div>
  </div>


  <bar-graph bind-graph="graph" width="400" height="150" >
  </bar-graph>
</div>