<div *ngIf="graph" style="margin-top: 70px;">
  <div class="row outer-center" >

    <div class="inner-center">
      <h2>{{graph.graphname}} details!</h2>
    </div>
  </div>

  <div class="row">

    <div class="col-md-12">

      <div class="col-md-3">
      </div>

      <div class="col-md-2">
          <div class="row">
            <label>id:</label>
            <input class="form-control" disabled [(ngModel)]="graph.id"/>
          </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>name:</label>
          <input class="form-control" [disabled]="!isGraphOwner" [(ngModel)]="graph.graphname" class="form-control" placeholder="Name" />
        </div>
      </div>

      <div class="col-md-2">
        <div style="padding-top:15px;">
          <button class="btn btn-success" *ngIf="isGraphOwner" (click)="onSave()">Save</button>
          <button class="btn btn-danger" (click)="goBack()">Back</button>
        </div>
      </div>

      <div class="col-md-3">
      </div>
    </div>

  </div>
  <div class="row">
      <div class="col-md-12">
        <bar-graph bind-graph="graph" width="400" height="150" >
        </bar-graph>
      </div>
  </div>
</div>