<div *ngIf="graph">
  <h2>{{graph.graphname}} details!</h2>
  <div>
    <label>id: </label>{{graph.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="graph.graphname" placeholder="Name" />
  </div>
  <button (click)="onSave()">Save</button>
  <button (click)="goBack()">Back</button>
  <bar-graph bind-graph="graph" width="400" height="150" >
      <div style="padding: 10px; float: left;">
        <svg width="900" height="600" style="border: 1px solid; border-radius: 5px; "></svg>
      </div>
  </bar-graph>
</div>