<div class="row outer-center" style="margin-top: 70px;">

  <div class="inner-center">
    <h2>Login or register on one click!</h2>

    <div class="form-group">
      <label style="float: left;">Login:</label>
      <input class="form-control" type="text" [(ngModel)]="username"/>

    </div>

    <div class="form-group">
      <label style="float: left;">Password:</label>
      <input class="form-control" type="text" type="password" [(ngModel)]="password"/>
    </div>

    <div>
      <button class="btn btn-success" (click)="onLogin()">Go!</button>
    </div>

  </div>
</div>